html{
	overflow: hidden;
}
body{
	height: 100vh;
	overflow-y: auto;
	overflow-x:hidden;
	-webkit-overflow-scrolling:touch;
	-webkit-perspective:1px;
	perspective: 1px;
}
h2{
	text-align: center;
	font-size: 100%;
	color: #444444;
	text-decoration: uppercase;
	letter-spacing: 1px;
}
img{
	width: 100%;
}

.parallax{
	-webkit-transform-style:preserve-3d;
	transform-style: preserve-3d;
}

.back{
	-webkit-transform-style:translateZ(-1px) scale(2);
	transform:translateZ(-1px) scale(2);
}
.front{
	height: 200px;
	background: gray;
}