body { background: url(../images/bodyimage2.jpg) no-repeat center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; font-family: 'Cormorant Garamond', serif; font-size: 20px; }
.pad { padding-top: 20px; }
.paddown { padding-bottom: 10px }
.main { position: relative; top: 100px; bottom: 100px; }
.image { width: 300px; height: 217px; }

/*Header section of CSS*/
header h1 { height: 50px; width: 200px; background: url(../images/sylogo.jpg) no-repeat; float: left; text-indent: -1999px; position: relative; left: 10px; top: 20px; }
header { border-style: solid; border-width: 2px; border-color: white; border-radius: 2px
height:100px; width: 100%; background: rgba(0, 128, 0, 0.38); min-width: 600px; z-index: 90; position: fixed; box-shadow: 10px 10px 5px #888888; }

/*Navigation Section of CSS*/
nav ul { padding-top: 30px; }
nav ul li { display: inline; list-style: none; padding-right: 10px; }
nav ul li a { font-size: 20px; text-decoration: none; height: 10px; width: 20px; color: white; }
nav ul li a:hover { font-size: 30px; background: green; color: white; border: 2px solid; }
nav ul { float: right; }
.selection { font-size: 20px; background: green; color: white; border: 2px solid; }

.imgsize { width: 470px; height: 350px; }
#fontstyle { text-shadow: 5px 20px 20px gray; text-align: center; }

/*Footer Section of CSS*/
footer a { text-decoration: none; color: green; }
.footer { color: green; border-style: solid; border-width: 2px; border-color: white; border-radius: 2px; margin-top: 150px; width: 100%; background: rgba(0, 128, 0, 0.38); }

/*Commonly use class to align the text*/
.textalign { text-align: justify; }

/*commonly used section*/
.textdoc { text-decoration: none; color: white; }
.textdoc:hover { color: green; width: 60px; height: 60px; }
.forshadow { box-shadow: 0 2px green; }
.box { width: 100%; background: url(../images/hero.jpeg) no-repeat; }
.polaroid { position: relative; width: 36%; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.textshadow { text-shadow: 1px 1px red; }
.centerAlign { text-align: center; }
.textcolor { color: gray; }
.textsize { font-size: 40px; font-family: serif; }