.wrap{
	width: 600px;
	margin: auto;
}
.wrap:hover{
	background: lightgray;
}
.box,aside{
	height:500px;
}
.box{
	width: 80%
}
aside{
	float: left;
}
img{
	height: 100px;
	width: 100px;
	margin-right: 10px;
}
li{
	list-style:none;
	display: inline
}
#position{
	float: right;
}
li a{
	font-style: italic;
}
